body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.63rem;
  color: #F38181;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #F38181;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #F38181;
}

hr {
  width: 5%;
  border-top: 10px dotted grey;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #EAFFD0;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a: hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #FCE38A;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #EAFFD0;
  padding: 100px 0;
}

.bottom-container {
  background-color: #95E1D3;
  padding: 50px 0 20px;
  color: #EAF6F6;
  position: static;
}

.ico {
  font-size: 0.75rem;
}

.tcl {
  height: 150px;
  position: absolute;
  right: 250px;
  top: 60px;
}

.bcl {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

#prof {
  height: 200px;
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.thpic {
  width: 25%;
  border-radius: 100%;
  background-color: #FCE38A;
  float: left;
  margin-right: 30px;
}

.thpict {
  width: 25%;
  border-radius: 100%;
  background-color: #FCE38A;
  float: right;
  margin-left: 30px;
}

.bottxt {
  width: 40%;
  margin: 50px auto 60px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  color: #F38181;
  padding-top: 50px;
}

.author {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
